body {
    background: url("resources/images/yucar-fotografik-Os18w3ys5jo-unsplash.jpg")
}

.container {
    text-align: center;
    font-family: 'Waiting for the Sunrise', cursive;
    color: whitesmoke;
}

#img-div {
    background-color:  rgba(0,0,0, .8);
    text-align: center;
}

#image {
    max-width: 75%;
    height: auto;
}

#title {
    background-color: rgba(0,0,0, .8);
    font-size: 78px;
    margin-bottom: 0px;
}

#subheading {
    font-size: 32px;
    background-color:  rgba(0,0,0, .8);
    margin-top: 0px;
}
#tribute-info {
    background-color: rgba(0,0,0, .8);   
    font-size: 18px;               
}

li {
    display: grid;
    grid-template-columns: 1fr minmax(300px, 720px) 1fr;
    grid-template-rows: repeat(4, 125px);
    align-items: center;
}

ul {
    margin: 0px;
    padding-left: 0px;
    color: whitesmoke;
    text-align: left;
    
    
    
}
.box1 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}
.box2 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}
.box3 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
.box4 {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 4;
    grid-row-end: 5;
}

#tribute-info.div {
    background-color: rgba(0,0,0, .8);
}

#wiki-link {
    text-align: center;
    background-color: yellow;
}